[submodule "Dependencies/QRCodeReader"]
	path = Dependencies/QRCodeReader
	url = https://github.com/blochberger/QRCodeReader.git
[submodule "Dependencies/QRCode"]
	path = Dependencies/QRCode
	url = https://github.com/blochberger/QRCode.git
